extends layout.pug

block content
    main
        h2 Blog
        p.
            Read my opinions via the internet.
        div.blog
            each post in posts
                .imbox(style=`background: ${post.bgcol}`)
                    if images.hasOwnProperty(post.slug)
                        +image(images[post.slug])
                    div
                        div
                            a.title(href=`/${post.slug}/`)= post.title
                        div.deemph= `${renderDate(post.created)} / ${metricPrefix(post.wordCount, "")} words`
                        div.description!= post.description

        h2 Microblog
        p.
            Short-form observations.
        div.microblog
            each entry in microblog
                != entry

        h2 Experiments
        p.
            Various web projects I have put together over many years. Made with at least four different JS frameworks. Some of them are bad.
        div.experiments
            each experiment in experiments
                .imbox(style=`background: ${experiment.bgcol}`)
                    if images.hasOwnProperty(experiment.slug)
                        +image(images[experiment.slug])
                    div
                        div
                            a.title(href=`/${experiment.slug}/`)= experiment.title
                        span.description!= experiment.description

        p Get updates to the blog (not experiments) in your favourite RSS reader using the <a href="/rss.xml">RSS feed</a>.
        p View some of my projects at 
            a(href=`https://git.${domain}/`) my git hosting.

        .ring!= openring
        iframe(src="https://george.gh0.pw/embed.cgi?gollark", style="border:none;width:100%;height:50px", title="Acquiesce to GEORGE.")

block under-title
    h2= name
