mixin nav-item(url, name)
    a(href=url)= name

doctype html
html(lang="en")
    head
        title= `${title} @ ${name}`
        script(src="/assets/js/page.js", defer=true)
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        if description
            meta(name="description", content=description)
        link(rel="manifest", href="/assets/manifest.webmanifest")
        link(rel="shortcut icon", href="/assets/images/logo256.png", type="image/png")
        meta(content=`https://${domain}/assets/images/logo256.png`, property="og:image")
        style!= css
        if comments !== "off"
            script(src=`https://${domain}/isso/js/embed.min.js`, async=true, data-isso=`https://${domain}/isso/`)
    body
        nav
            a.logocont(href="/")
                img.logo(src="/assets/images/logo256.png", alt="osmarks.net logo")
                .logotext osmarks
            +nav-item("/", "Index")
            +nav-item(`https://mse.${domain}/`, "Meme Search Engine v1.1")
            +nav-item(`https://i.${domain}/`, "Images")
            +nav-item("https://github.com/osmarks/website", "Contribute")
            block nav-items
        .header
            h1.page-title= title
            if updated
                h3= `Updated ${renderDate(updated)}`
            if created
                h3= `Created ${renderDate(created)}`
            if description
                em.description!= description
        block content

        if comments !== "off"
            .isso
                section(id="isso-thread")
